$primary-color: #2c3e50;
$secondary-color: #34495e;
$accent-color: hwb(209 14% 10%);
$dark-bg: #1a1a1a;
$light-bg: #f8f9fa;
$dark-text: #2c3e50;
$light-text: #ecf0f1;
$transition-speed: 0.3s;
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Lato', sans-serif;